{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Primary meta tags -->
  <title>Account {% block title %}{% endblock %} - Jojo's Anthology</title>
  <link rel="icon" href="{% static 'home/images/j.png' %}">
  <meta name="description" content="Let's have some cookies together!">

  <!-- Open Graph / Facebook -->
  <meta property="og:url"                 content="https://jojoanthology.herokuapp.com/story9/" />
  <meta property="og:title"               content="COOKIE TIME" />
  <meta property="og:description"         content="Let's have some cookies together!" />
  <meta property="og:image"               content="{% static 'story9/images/korone.jpg' %}" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'story9/css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  {% include "home/navbar.html" %}

  {% block content %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

  <!-- JS and Bootstrap Scripts -->
  <script src="{% static 'story9/js/script.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>