{% extends 'story9/base.html' %}
{% load static %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-7 col-md-6 order-last order-md-first text-sm-left text-center">
          <h1 class="display-4">COOKIE TIME!</h1>
          <h5>ジョジョの奇妙なパン屋へようこそ。</h4>
          <hr>
          <p class="lead">
            Hello, <b>{{ user.username|default:'Guest' }}</b>! Welcome to my bakery and I like to give cookies!
          </p>
          <p>
            Cookies are really versatile. First, you can eat them with any drink you want. Tea, coffee, or milk. 
            You can have girls eating cookies and say, "Yum, this is good!" That's just way too cute! Being able to
            switch flavors based on your mood is a lot of fun too! Chocolate chip, peanut, or raisin, everything!
            It's like you're enjoying all these kinds of cookies at a buffet.
          </p>
        </div>
        <div class="col mt-4" align="center">
          <a href="https://youtu.be/9pDm5dsJ2_k" target="_blank">
            <img src="{% static 'story9/images/korone.jpg' %}" alt="cookie yubi" width="280">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5">
    {% if user.is_authenticated %}
      <div class="row">
        <div class="col-7">
          <h1>Here's one cookie for you, {{ user.username }}!</h1>
          <p>Since making cookie is exhausting, I can only give you one per session.</p>
          <p>However, you may log out and log in again to get more. Anyways, take care! :)</p>
          <a href="/story9/accounts/logout/" class="btn btn-danger btn-rounded">Log Out</a>
        </div>
        <div class="col" align="center">
          <img src="{% static 'story9/images/cookie.png' %}" alt="Cookie for you!" width="280">
        </div>
      </div>
    {% else %}
      <section>
        <div class="row mx-1">
          <div class="col-md-6 mb-4">
            <div class="card card-image" id="card1">
              <div class="text-white text-center d-flex align-items-center py-5 px-4">
                <div>
                  <h3 class="card-title py-3 font-weight-bold"><strong>First time coming?</strong></h3>
                  <p class="pb-3">Register and let's have some cookies together! Don't worry, each cookie is free and you'll sure like it!</p>
                  <a href="/story9/accounts/register/" class="btn btn-warning btn-rounded">Register</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="card card-image" id="card2">
              <div class="text-white text-center d-flex align-items-center py-5 px-4">
                <div>
                  <h3 class="card-title py-3 font-weight-bold"><strong>Already a cookie monster?</strong></h3>
                  <p class="pb-3">Log in to show your love for more cookies! One or two more cookies won't hurt, right?</p>
                  <a href="/story9/accounts/login/" class="btn btn-primary btn-rounded">Log In</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
  {% include "home/footer-new.html" %}
{% endblock %}