{% extends 'home/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="centered">
    <img src="{% static 'home/images/shibainu.png' %}" align="middle" alt="woof woof" width="200" height="200">
    <h3 class="text-center">Welcome!</h3>
    <p class="lead">Click one of the stories on the navbar to begin.</p>
  </div>
{% endblock %}