{% load static %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" href="/">Jojo's Anthology</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- empty-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story1:index' %}">Intro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story4:index' %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story5:index' %}">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story6:index' %}">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story7:index' %}">Accordion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story8:index' %}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story9:index' %}">Cookies</a>
      </li>
    </ul>
  </div>
</nav>