{% extends 'story7/base.html' %}
{% load static %}
{% block content %}
  <div class="container main">
    <h2 class="text-center">JQUEWRYYY</h2>
    <p class="text-center">ジョジョの奇妙なアコーディオン</p>
    <div class="text-center">
      <a href="https://youtu.be/CzeIdBkcM_s" target="_blank">
        <img class="img-fluid text-center" src="{% static 'story7/images/squidward.jpg' %}" alt="tentacles yum" width="200" height="200">
      </a>
    </div>

    <div id="accordion" class="card container my-2 col-md-8 border-0">
      <h3 class="accordion-title">Wait, Jojo can code JS too?
        <span class="float-right dwn-btn">下</span>
        <span class="float-right up-btn">上</span>
      </h3>
      <div class="accordion-text">
        <p>Always has been. At first he thought it was Java, but it was a totally different experience.</p>
      </div>
      <h3 class="accordion-title">Daily activities?
        <span class="float-right dwn-btn">下</span>
        <span class="float-right up-btn">上</span>
      </h3>
      <div class="accordion-text">
        <p>Eat, sleep, code, watch VTubers. Rinse and repeat.</p>
      </div>
      <h3 class="accordion-title">Organization experience?
        <span class="float-right dwn-btn">下</span>
        <span class="float-right up-btn">上</span>
      </h3>
      <div class="accordion-text">
        <ul>
          <li>COMPFEST - Software Engineer</li>
          <li>SISTEM - Knowledge Management Staff</li>
          <li>OLIM - Badminton Staff</li>
        </ul>
      </div class="accordion-text">
      <h3 class="accordion-title">Any achievements?
        <span class="float-right dwn-btn">下</span>
        <span class="float-right up-btn">上</span>
      </h3>
      <div class="accordion-text">
        <p>I don't have any real life achievements, so here's my Steam achievements.</p>
        <a href="http://astats.astats.nl/astats/User_Info.php?SteamID64=76561198282993853">da link</a>
      </div>
      <h3 class="accordion-title">Why are we still here?
        <span class="float-right dwn-btn">下</span>
        <span class="float-right up-btn">上</span>
      </h3>
      <div class="accordion-text">
        <p>Just to suffer...</p>
      </div>
    </div>
  </div>
{% endblock %}