.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav, footer {
  background-color: #B9BFFF !important;
}

footer {
  width: 100%;
}

img {
  display: block;
  margin: 0 auto;
}