body {
    min-height: 100vh;
}

.navbar-custom,
.page-footer {
    background-color: #B9BFFF;
}

.container {
    padding-top: 70px;
    min-height: calc(100vh - 60px);
}

.empty {
    padding-top: 4rem;
}