{% extends "home/base.html" %}
{% load static %}

{% block title %}
	<title>Extras - Jojo's Adventure</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock css %}

{% block content %}
    <div class="container p-5" id="home" align="center">
        <div class="col d-flex flex-column">
            <h2>Welcome to the other side of me.</h2>
            <p>Let me tell you some of my interests and personality!</p>
            <p><a href="{% url 'story4:index' %}" class="btn btn-primary btn-lg">Go Home</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row mb-5 m-1">
            <div class="col justify-content-center">
                <h3 class="text-left">Hobbies</h3>
                <ul>
                    <li>Sleeping</li>
                    <li>Eating Indomie</li>
                    <li>Learning languages</li>
                    <li>Enjoying JoJo memes</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="text-left">Interests</h3>
                <ul>
                    <li>Girls (Hey, I'm straight)</li>
                    <li>Table tennis (It's fun to smack some balls)</li>
                    <li>Puzzles</li>
                    <li>Music (especially EDM)</li>
                </ul>
            </div>
        </div>
        <div class="row mb-5 m-1">
            <div class="col justify-content-center">
                <h3 class="text-left">Some of my strengths</h3>
                <ul>
                    <li>Wise</li>
                    <li>Good communication</li>
                    <li>Honest</li>
                    <li>Loyal</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="text-left">Some fo my weaknesses</h3>
                <ul>
                    <li>Unpunctual</li>
                    <li>Timid</li>
                    <li>Afraid to take risks</li>
                    <li>Impatience</li>
                </ul>
            </div>
        </div>
        <div class="row mb-5 m-1">
            <div class="col justify-content-center">
                <h3 class="text-left">My anime favorites</h3>
                <ul>
                    <li>Rascal Does Not Dream of Bunny Girl Senpai</li>
                    <li>Noragami</li>
                    <li>Steins;Gate</li>
                    <li>Your Name</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="text-left">Epic manga series</h3>
                <ul>
                    <li>Kaguya-sama: Love Is War</li>
                    <li>Rent-a-Girlfriend</li>
                    <li>Grand Blue</li>
                    <li>Horimiya</li>
                </ul>
            </div>
        </div>
        <div class="row mb-3 m-1 justify-content-center">
            <div class="col" align="center">
                <b>Miko wants to thank you for spending your time reading this page!</b>
                <img src="{% static 'story4/images/miko.jfif' %}" class="img-fluid" alt="kawaii miko">
            </div>
        </div>
    </div>
{% endblock %}