{% extends "story4/base.html" %}
{% load static %}

{% block title %}
	<title>Welcome! - Jojo's Adventure</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'story4/style.css' %}">
{% endblock %}
	
{% block content %}
    <div class="container" align="center" id="home">
        <a href="{% url 'story4:extras' %}">
            <img src="{% static 'story4/images/kamaba.jpg' %}" class="img-fluid" alt="This is me" id="kamaba">
        </a>
        <p><!--empty--></p>
        <h3>Hello, my name is </h3>
        <h1>Jonathan Amadeus Hartman</h1>
        <p class="lead text-justify">
            I'm a full stack developer based in Tangerang, Indonesia. I'm a bachelor student from
            Faculty of Computer Science, Universitas Indonesia. I've always been interested in web development 
            and data science. I'm planning to learn more frameworks to help maximizing project results. 
            I'm proficient in four languages and striving to learn more. I usually 
            translate Japanese manga as a hobby. I'm a curious, attentive, and determined to give my best in my projects. 
            I'm ready for coding and translating projects in the future.
        </p>
    </div>   

    <div class="container">
        <h2 class="text-center" id="skills">What skills do I have?</h2>

        <div class="container">
            <h3>Programming</h3>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                        <h4>HTML/CSS/JS</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/htmlcss.png' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <p>I learned this by myself and did website projects from university course.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <h4>Python</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/python.png' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <p>I use this to do my data science projects and web scraping. I also learn Python 
                                frameworks such as Django and pandas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <h4>Java</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/java.png' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <p>I use this to build GUI (with JavaFX) and make algorithms for automation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
                <h3>Language</h3>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                        <h4>English</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/uk.svg' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <b>Level:</b>
                            <p>Professional</p>
                            <b>Certification:</b>
                            <p>IELTS (7.5 overall)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <h4>Japanese</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/japan.png' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <b>Level:</b>
                            <p>Professional</p>
                            <b>Certification:</b>
                            <p>JLPT N2 (98)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <h4>French</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/france.png' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <b>Level:</b>
                            <p>Intermediate</p>
                            <b>Certification:</b>
                            <p>-</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
            <h2 id="experience">What experience do I have?</h2>
        <div class="container">
                <h3>Organizations</h3>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                        <h4>COMPFEST</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/compfest.jpg' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <b>Position:</b>
                            <p>Software Engineer</p><br>
                            <p>Biggest IT festival run by students in Indonesia</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <h4>SISTEM</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/sistem.jfif' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <b>Position:</b>
                            <p>Knowledge Management Staff</p><br>
                            <p>A Fasilkom organization focused in information system and business</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <h4>OLIM UI</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/olim.jpg' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <b>Position:</b>
                            <p>Badminton Staff</p><br>
                            <p>Helped preparing equipments and serving as a line judge</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
                <h3>Projects</h3>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                        <h4>YouTube Transcriptor</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/yutub.png' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <p>Transcripts YouTube videos. Uses JavaFX, Web Speech API, and youtube-dl.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <h4>Maungajar</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/roar.jpg' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <p>Learning management website in Fasilkom UI. Uses PHP and Django.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <h4>Project Corona</h4>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'story4/images/corona.png' %}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <p>Analyzing data of COVID patients in Indonesia. Uses Python and pandas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container education">
            <h2>What is my educational background?</h2>
            <br>
        <div class="row m-1">
            <div class="col-xl-3">
                <div class="row">
                    <img src="{% static 'story4/images/mentir.png' %}" class="img-thumbnail">
                </div>
                <div class="row">
                    <b>SDK Menara Tirza</b>
                </div>
                <div class="row">
                    (2007-2013)
                </div>
            </div>
            <div class="col-xl-3">
                <div class="row">
                    <img src="{% static 'story4/images/penabur.png' %}" class="img-thumbnail" id="penabur">
                </div>
                <div class="row">
                    <b>SMPK Penabur Gading Serpong</b>
                </div>
                <div class="row">
                    <p>(2013-2016)</p>
                </div>
                
            </div>
            <div class="col-xl-3">
                <div class="row">
                    <img src="{% static 'story4/images/penabur.png' %}" class="img-thumbnail" id="penabur">
                </div>
                
                <div class="row text-center">
                    <b>SMAK Penabur Gading Serpong</b>
                </div>
                
                <div class="row">
                    <p>(2016-2019)</p>
                </div>
                
            </div>
            <div class="col-xl-3">
                <div class="row">
                    <img src="{% static 'story4/images/ui.png' %}" class="img-thumbnail">
                </div>
                
                
                <div class="row">
                    <b>Universitas Indonesia</b>
                    <b>Bachelor of Computer Science</b>
                </div>

                <div class="row">
                    <p>(2019-2023)</p>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container contact">
            <h2 id="contact">Interested? Contact me at</h2>
            <br>
        <div class="row m-1">
            <div class="col-xl-3">
                <div class="row">
                    <a href="https://www.linkedin.com/in/jonathan-amadeus-hartman" target="_blank">
                        <img src="{% static 'story4/images/linkedin.png' %}" class="img-thumbnail">
                    </a>      
                </div>
                <div class="row">
                    Connect with me
                </div>
            </div>
            <div class="col-xl-3">
                <div class="row">
                    <a href="mailto:jonathanamadeus95@gmail.com">
                        <img src="{% static 'story4/images/gmail.png' %}" class="img-thumbnail">
                    </a>
                </div>
                <div class="row">
                    Email me
                </div>
            </div>
            <div class="col-xl-3">
                <div class="row">
                    <a href="https://line.me/ti/p/3OhfOVHNgO" target="_blank">
                        <img src="{% static 'story4/images/line.svg' %}" class="img-thumbnail">
                    </a>
                </div>
                <div class="row">
                    Chat with me
                </div>
            </div>
            <div class="col-xl-3">
                <div class="row">
                    <a href="https://www.instagram.com/jonathan_ama/" target="_blank">
                        <img src="{% static 'story4/images/instagram.png' %}" class="img-thumbnail">
                    </a>
                </div>
                <div class="row">
                    Follow me
                </div>
            </div>
        </div>
    </div>
{% endblock %}