{% extends 'story5/base.html' %}
{% block content %}
<div class="container">
    <form class="mt-5" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Course Name</label>
                {{ form.name }}
            </div>
            <div class="form-group col-md-3">
                <label>Term</label>
                {{ form.term }}
            </div>
            <div class="form-group col-md-3">
                <label>Academic Year</label>
                {{ form.year }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Lecturer</label>
                {{ form.lecturer }}
            </div>
            <div class="form-group col-md-3">
                <label>Room</label>
                {{ form.room }}
            </div>
            <div class="form-group col-md-3">
                <label>Credit (SKS)</label>
                {{ form.sks }}
            </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            {{ form.desc }}
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
{% endblock content %}