{% extends 'story5/base.html' %}
{% block content %}
<div class="container my-4">
    <div class="jumbotron">
        <h1 class="display-4">{{ course.name }}</h1>
        <p class="lead">{{ course.term }} {{ course.year }}</p>
        <p>{{ course.desc }}</p>
        <hr class="my-4">
        <table class="table w-auto">
            <tbody>
                <tr>
                    <th>Lecturer</th>
                    <td><span class="badge badge-light">{{ course.lecturer }}</span></td>
                </tr>
                <tr>
                    <th>SKS</th>
                    <td><span class="badge badge-light">{{ course.sks }}</span></td>
                </tr>
                <tr>
                    <th>Room</th>
                    <td><span class="badge badge-light">{{ course.room }}</span></td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-primary mt-4" href="{% url 'story5:index' %}" role="button">BACK</a>
    </div>
</div>
{% endblock content %}