{% extends 'story5/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <header class="d-flex justify-content-between align-items-center">
        <h2>COOLYEAH</h2>
        <a href="{% url 'story5:add_course' %}" class="btn btn-primary">Add Course</a>
    </header>

    {% if messages %}
        <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
            {{ messages }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if empty %}
        <div class="empty mx-auto" align="center">
            <img src="{% static 'story5/images/fubuki.jpg' %}" class="img-fluid" alt="hamburger yum" id="fubuki">
            <h3>Course Empty</h3>
            <p class="lead">Add a course and it will show up here.</p>
        </div>
    {% else %}
        {% for course in courses %}
            <div class="card mt-3">
                <div class="card-body d-flex justify-content-between flex-column flex-md-row">
                    <div>
                        <a href="{% url 'story5:course_details' course.id %}">
                            <h5 class="card-title">{{ course.name }}</h5>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted">{{ course.term }} {{ course.year }}</h6>
                    </div>
                    <form action="{% url 'story5:delete_course' course.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger card-link mt-2 mr-md-4 align-self-center" type="input">
                            DELETE
                        </button>
                    </form>    
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}