body {
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 60%;
    margin: 5rem auto;
    @media (max-width: 1024px) {
        width: 90%;
    }
}

#name {
    text-align: center;
    font-size: 2rem;
}

#pose {
    width: 25%;
    height: 75%;
    border-radius: 50%;
    @media (max-width: 768px) {
        width: 50%;
        height: 50%;
    }
}

th, td {
    padding: 8px;
}

.edu-table {
    border-spacing: 2px;
    border: 1px solid black;
}

.edu-table th, .edu-table td {
    border-spacing: 2px;
    border: 1px solid black;
}

.profile {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.description, .education, .contact {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}