{% extends 'story9/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
  <div class="container mt-5 h-100 d-flex justify-content-center align-items-center">
    <div class="card login-card">
      <article class="card-body">
        <h4 class="card-title text-center mb-4 mt-1">Log in</h4>
        <hr>
        {% for error in form.non_field_errors %}
          <p class="text-danger text-center">{{ error }}</p>
        {% endfor %}
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input name="username" class="form-control" placeholder="Username" type="text">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input name="password" class="form-control" placeholder="Password" type="password">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
          <p class="text-center">Don't have an account? <a href="/story9/accounts/register/">Register</a></p>
          <p class="text-center"><a href="/story9/">Go back</a></p>
        </form>
      </article>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "home/footer.html" %}
{% endblock %}