{% extends 'story9/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
  <div class="container mt-5 h-100 d-flex justify-content-center align-items-center">
    <div class="card login-card">
      <article class="card-body">
        <h4 class="card-title text-center mb-4 mt-1">Register</h4>
        <hr>
        {% for field in form %}
          {% for error in field.errors %}
            <p class="text-danger text-center">{{ error }}</p>
          {% endfor %}
        {% endfor %}
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input name="username" class="form-control" placeholder="Username" type="text">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input name="password1" class="form-control" placeholder="Password" type="password">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input name="password2" class="form-control" placeholder="Confirm password" type="password">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-warning btn-block">Register</button>
          </div>
          <p class="text-center">Have an account? <a href="/story9/accounts/login/">Log in</a></p>
          <p class="text-center"><a href="/story9/">Go back</a></p>
        </form>
      </article>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "home/footer.html" %}
{% endblock %}