{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'story1/style.css' %}">
{% endblock %}
{% block title %}My Profile{% endblock %}
{% block content %}
<main>
	<h1 id="name">Hi! I'm JONATHAN AMADEUS HARTMAN</h1>
	<div class="profile">
		<img id="pose" src="{% static 'story1/images/foto_maungid_crop.jpg' %}" alt="me posing">
		<div class="profile-right">
			<h2>Profile</h2>
			<table>
				<tr>
					<td>Batch</td>
					<td>Maung 2019</td>
				</tr>
				<tr>
					<td>Hobby</td>
					<td>video games, table tennis</td>
				</tr>
				<tr>
					<td>Interest</td>
					<td>web development, linguistics, music, anime</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="description">
		<h2>A Tiny Description of Myself</h2>
		<p>
			Hello there. My name is Jojo and I like coding. In my leisure time, I usually do all of my stuffs on bed.
			I love trying new things even though I'm not very good in it. Newer website looks coming soon!
		</p>
		<p>
			Wielding the incredibly powerful Star Platinum, he is the first JoJo introduced with a Stand, and is among
			the most well-known characters of the series.
		</p>
	</div>

	<div class="education">
		<h2>Educational Background</h2>
		<table class="edu-table">
			<tr>
				<th>YEAR</th>
				<th>INSTITUTE</th>
			</tr>
			<tr>
				<td>2019-2023</td>
				<td>Universitas Indonesia</td>
			</tr>
			<tr>
				<td>2016-2019</td>
				<td>SMAK Penabur Gading Serpong</td>
			</tr>
			<tr>
				<td>2013-2016</td>
				<td>SMPK Penabur Gading Serpong</td>
			</tr>
			<tr>
				<td>2007-2013</td>
				<td>SDK Menara Tirza</td>
			</tr>
		</table>
	</div>

	<div class="contact">
		<h2>Contact Me</h2>
		<p>Here's some links to my accounts. Feel free to ask anything! :)</p>
		<ul>
			<li><a href="https://www.linkedin.com/in/jonathan-amadeus-hartman" target="_blank">LinkedIn</a></li>
			<li><a href="https://gitlab.com/HardJoe" target="_blank">GitLab</a></li>
			<li><a href="https://instagram.com/jonathan_ama" target="_blank">Instagram</a></li>
			<li><a href="https://twitter.com/Jonathan_Ama" target="_blank">Twitter</a></li>
		</ul>
	</div>
</main>
{% endblock %}