nav,
footer {
  background-color: #b9bfff !important;
}

.jumbotron {
  background-color: #dcf7ff !important;
}

#card1 {
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(https://image.freepik.com/free-vector/cookies-seamless-pattern_7684-64.jpg);
}

#card2 {
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(https://i.pinimg.com/originals/fb/3c/f2/fb3cf2fcbc704f77fca8a909d47cf526.jpg);
}

h3 {
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.login-card {
  position: relative;
  top: 90px;
  max-width: 25%;
  word-wrap: break-word;
  overflow: hidden;
}