{% extends 'story8/base.html' %}
{% load static %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container mt-4">
      <div class="row">
        <div class="d-flex flex-column justify-content-between col-lg-9 col-sm-7 order-last order-sm-first text-sm-left text-center">
          <h1 class="display-4">BEWKS</h1>
          <h5>ジョジョの奇妙な図書館へようこそ。</h4>
          <p class="lead">Type a keyword on the search bar and we'll give some book recommendations.</p>
          <hr>
          <div class="d-flex justify-content-md-start justify-content-center">
            <input type="text" id="book-form" class="form-control w-50 mr-2" placeholder="Enter keyword">
            <button class="btn btn-primary" id="find-btn" role="button">Search</button>
          </div>
        </div>
        <div class="col mt-4" align="center">
          <a href="https://youtu.be/Bn5Sz5BINLY" target="_blank">
            <img src="{% static 'story8/images/ina.jpg' %}" alt="hmm tentacles" width="180">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <h3 class="text-center p-0 m-3">Books Found (<span id="found-amount">10</span>)</h3>
    <div class="d-flex flex-column align-items-center" id="result-list">
      <table class="table table-bordered table-striped table-responsive" id="book-table">
        <thead>
          <tr>
            <th scope="col" style="width: 15%">Front Cover</th>
            <th scope="col" style="width: 25%">Title</th>
            <th scope="col" style="width: 25%">Authors</th>
            <th scope="col" style="width: 20%">Date Published</th>
            <th scope="col" style="width: 15%">Page Count</th>
          </tr>
        </thead>
        <tbody>
          <!-- Shown in first page visit -->
          {% for i in items %}
            <tr>
              <td>
                {% if i.volumeInfo.imageLinks.thumbnail %}
                  <img src="{{ i.volumeInfo.imageLinks.thumbnail }}">
                {% else %}
                  <img src="https://i.ibb.co/HzfXhc8/matsuri-edit.jpg">
                {% endif %}
              </td>
              <td>{{ i.volumeInfo.title }}</td>
              <td>
                {% for author in i.volumeInfo.authors %}
                  {{ author }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </td>
              <td>{{ i.volumeInfo.publishedDate }}</td>
              <td>{{ i.volumeInfo.pageCount }}</td>
            </tr>
          {% endfor %}
          <!-- Results are inserted here -->
        </tbody>
      </table>
      <button class="btn btn-primary" id="more-btn" role="button">Show More Results</button>
    </div>
  </div>
{% endblock %}