.navbar-custom,
.page-footer {
    background-color: #B9BFFF;
}

.container {
    padding-top: 70px;
    min-height: calc(100vh - 60px);
}

.empty {
    padding-top: 4rem;
}

table tbody tr td:nth-child(2)::before {
    content: ": ";
}

th,
td {
    font-size: 22px !important;
}

#fubuki {
    max-width: 20%;
    margin-bottom: 2rem;
}