nav, footer {
  background-color: #B9BFFF !important;
}

.main {
  padding-top: 4rem;
  min-height: calc(100vh - 60px);
}

.row {
  margin-top: 35px;
  margin-bottom: 30px;
}

:root {
  --blue: #DCF7FF;
  --pink: #FCBDF4;
  --grey: #E5E5E5;
  --white: #FFFFFF;
  --navbar-height: 3vmin;
}

.accordion-title {
  border: none;
  color: var(--white) !important;
  background-color: var(--blue) !important;
  font-family: 'Open Sans', sans-serif !important;
}

.accordion-title.ui-state-active {
  border: none;
  color: var(--white) !important;
  background-color: var(--pink) !important;
  font-family: 'Open Sans', sans-serif !important;
}

.accordion-text {
  font-family: 'Open Sans', sans-serif !important;
}

.ui-accordion-header-icon {
  color: var(--white) !important;
}

.up-btn, .dwn-btn {
  color: var(--grey) !important;
}

.up-btn:hover, .dwn-btn:hover {
  color: var(--white) !important;
  transition: background-color 0.5s ease;
}
